
doctype html
extends ../../../views/layout

block content
  .console
  .button-holder
    span.button-row
      a.button.export-button.noselect.clickable.noround(href=`/${task.namespace}/${module.roomName}/json/download`) Export to JSON
      a.button.export-button.noselect.clickable.noround(href=`/${task.namespace}/${module.roomName}/text/download`) Export to Text
  script(src='/scripts/exampleTask/console.js')
  link(rel='stylesheet', href= '/styles/exampleTask/console.css')
