doctype html
extends layout

link(href='https://fonts.googleapis.com/css?family=Raleway:400500,700,800', rel='stylesheet')

block content
  nav.top-nav.noselect
    a.title(href='/')
      img.site-main-icon(src='/images/ICON.png', alt='')
      l
        span.site-main-title Neural
        span Sentry
      span.site-sub-title ALPHA

    each task in tasks
      a.tab.nav-select-task(href='/', task='example')= task
  
  .content
  script(src='/socket.io/socket.io.js')
  script(src='/scripts/index.js')
