.button
    background:         $main-font-color
    color:              $white
    cursor:             pointer
    font:               inherit
    padding:            10px 15px

    &:not(.noshadow)
        box-shadow:     $shadow

    &:not(.noround)
        border-radius:  7px

    &:active
        &:not(.noshadow)
            box-shadow: inset $shadow

    &.small
        height:         24px
        padding:        5px
        width:          24px
