//Fonts
$font-stack:        raleway, sans-serif
$main-font-color:   #2e3840
$fade-font-color:    #8ea1ac

$title-font-size: 22px
$title-font-weight: 700

//Color globals
$white: #fff
$black: #000

$white-highlight: rgba(0, 0, 0, .1)
