@import 'vars'

.filterbox
    padding-top: 5px
    position: absolute
    right: 5px

.console
    margin: 5px 0 0 5px

    &.filter-errors
        .console-info,
        .console-debug
            display: none

.console-line
    display: block
    word-wrap: break-word

.console-line-level
    font-family: monospace

    &::before,
    &::after
        color: $main-font-color
        font-family: CURSIVE
        font-weight: bold

    &::before
        content: '<'

    &::after
        content: '>'

.console-error
    background-color: $error-fade-font-color

.console-error-level,
.console-warning-level
    color: $error-font-color
    font-weight: bold

.console-info-level
    color: $success-font-color
    font-weight: bold
